@model IEnumerable<Audios.Models.Playlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Playlists</h1>

<p>
    <a asp-action="Create">Create a new playlist</a>
</p>

@foreach (var item in Model)
{
    <div class="card mb-3" style="max-width: 400px; max-height: 133px">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/default-image.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title playlist-card"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h5>
                    @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                    <p class="card-text"><small class="text-muted">created by @item.ApplicationUser.FullName</small></p>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
