@model IEnumerable<Audios.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Bpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchWords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lyrics)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.isOneStop)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AudioUrl)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.VocalId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Bpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchWords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.isOneStop)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AudioUrl)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.VocalId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
