@model IEnumerable<Audios.Models.Song>

@{
    ViewData["Title"] = "Index";
}



<div id="song-index-container" class="container">
    <div class="row">
        <div class="col-md song-column">
            @*SONG LIST*@
            <div id="songlist-container" class="songlist-wrapper row">
                <div class="container row song-index-audios">
                    <h2 class="chrome-grey">Audios</h2>

                    <p class="add-song-plus">
                        <a asp-controller="Artists" asp-action="Create">
                            <img src="~/svg/plus-solid.svg" id="add-song">
                        </a>
                    </p>
                    <p class="new-playlist-link">
                        <a asp-controller="Playlists" asp-action="Create">
                            create a new playlist
                        </a>
                    </p>
                    @*<p class="add-to-playlist-link">
                <a asp-controller="Playlists" asp-action="Add">
                    add songs to playlist
                </a>
            </p>*@
                </div>

                @if (ViewBag.exists == true)
                {
                    <p class="exists-message">@ViewBag.message</p>
                }
                @if (ViewBag.noInstrumentals == true)
                {
                    <p class="exists-message">@ViewBag.instMessage</p>
                }
                @if (ViewBag.noMaleFemaleVocals == true)
                {
                    <p class="exists-message">@ViewBag.mfMessage</p>
                }
                @foreach (var item in Model)
                {
                    <div id="@item.Id" class="container song-image-container row">
                        @* Artist Image *@

                        <img class="artist-image" src="@item.Artist.ImageUrl" />
                        <div class="text-and-player">
                            <div class="player-text">
                                <p class="title-artist">@item.Title  / @item.Artist.Name</p>
                            </div>
                            <div class="song-container row">

                                @* Audio Player *@
                                <div class="audio-container">
                                    <audio class="audio-player" controls controlsList="nodownload">
                                        <source src="@item.AudioUrl" type="audio/mp3">
                                    </audio>
                                </div>
                                @* Links *@
                                @*<div class="song-index-td">*@
                                <div class="song-index-links">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <img class="song-index-icon" src="~/svg/info-circle-solid.svg">
                                    </a>
                                    <button class="show-playlist-dropdown">
                                        <img id="icon-@item.Id" class="song-index-icon" src="~/svg/arrow-circle-down-solid.svg">
                                    </button>
                                    @*<a asp-action="" asp-route-id="@item.Id">
                                <img class="song-index-icon" src="~/svg/plus-circle-solid.svg">
                            </a>*@
                                </div>
                            </div>
                        </div>
                        @* Playlist dropdown *@
                        <form asp-action="AddToPlaylist" asp-controller="Playlists">
                            <div id="ddAdd-@item.Id" class="hide">
                                <div id="dd-@item.Id" class="song-index-dropdown">
                                    <input hidden name="songId" value="@item.Id" />
                                    <select id="playlistId" name="playlistId" class="form-control" asp-items="ViewBag.Playlist">
                                        <option selected disabled>Add to a playlist</option>
                                    </select>
                                </div>
                                <input type="submit" class="add-it" value="Add it!" />
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>


        <div class="col-md song-column">
            @*PLAYLIST*@

            @* ...This is the target div... ---------------------------------------------- *@
            <div hidden class="playlist-wrapper row">
                <div class="container row song-index-playlist">
                    <h2 class="chrome-grey">Playlist</h2>

                    <p class="add-song-plus">
                        <a asp-controller="Artists" asp-action="Create">
                            <img src="~/svg/plus-solid.svg" id="add-song">
                        </a>
                    </p>
                </div>

                @*@if (ViewBag.exists == true)
                    {
                        <p class="exists-message">@ViewBag.message</p>
                    }*@

                <div id="song-cards">
                    @foreach (var item in Model)
                    {
                        <div class="container song-image-container row song-card">
                            @* Artist Image *@

                            <img class="artist-image" src="@item.Artist.ImageUrl" />
                            <div class="text-and-player">
                                <div class="player-text">
                                    <p class="title-artist">@item.Title  / @item.Artist.Name</p>
                                </div>
                                <div class="song-container row">

                                    @* Audio Player *@
                                    <div class="audio-container">
                                        <audio class="audio-player" controls>
                                            <source src="@item.AudioUrl" type="audio/mp3">
                                        </audio>
                                    </div>
                                    @* Links *@
                                    @*<div class="song-index-td">*@
                                    <div class="song-index-links">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            <img class="song-index-icon" src="~/svg/info-circle-solid.svg">
                                        </a>
                                        <a asp-action="">
                                            <img class="song-index-icon playlist-arrow" src="~/svg/arrow-circle-down-solid.svg">
                                        </a>
                                        @*<a asp-action="" asp-route-id="@item.Id">
                                                <img class="song-index-icon" src="~/svg/plus-circle-solid.svg">
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    const songlistContainer = document.querySelector("#songlist-container");
    songlistContainer.addEventListener('click', (e) => {
        if (e.target.className === "show-playlist-dropdown") {
            const targetDiv = document.querySelector(`dd-${e.target.id}`);
            targetDiv.classList.remove("hide");
        }
    });
</script>*@