@model IEnumerable<Audios.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Audios</h1>

<p>
    <a asp-controller="Artists" asp-action="Create">
        <img src="~/svg/plus-solid.svg" id="add-song">
    </a>
</p>

@if (ViewBag.exists == true)
{
    <p class="exists-message">@ViewBag.message</p>
}

@foreach (var item in Model)
{
    <div class="container songlist-container row">
        @* Artist Image *@

        <img class="artist-image" src="@item.Artist.ImageUrl" />
        <div class="text-and-player">
            <div class="player-text">
                <p class="title-artist">@item.Title  / @item.Artist.Name</p>
            </div>
            <div class="song-container row">

                @* Audio Player *@
                <div class="audio-container">
                    <audio class="audio-player" controls>
                        <source src="@item.AudioUrl" type="audio/mp3">
                    </audio>
                </div>
                @* Links *@
                @*<div class="song-index-td">*@
                <div class="song-index-links">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="song-index-icon" src="~/svg/info-circle-solid.svg">
                    </a>
                    <a asp-action="" asp-route-id="@item.Id">
                        <img class="song-index-icon" src="~/svg/arrow-circle-down-solid.svg">
                    </a>
                    <a asp-action="" asp-route-id="@item.Id">
                        <img class="song-index-icon" src="~/svg/plus-circle-solid.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
}
@*@Html.DisplayFor(modelItem => item.Title)

    @Html.DisplayFor(modelItem => item.AudioUrl)

    @Html.DisplayFor(modelItem => item.Artist.Name)

    @Html.DisplayFor(modelItem => item.isOneStop)*@

