@model IEnumerable<Audios.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Audios</h1>

<p>
    <a asp-controller="Artists" asp-action="Create">
        <img src="~/svg/plus-solid.svg" id="add-song">
    </a>
</p>

@*@{ 
    var message = ViewBag.existsMessage;
}*@

@if  (ViewBag.exists == true)
{
    <p class="exists-message">@ViewBag.message</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Bpm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchWords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lyrics)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.AudioUrl)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOneStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Bpm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchWords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lyrics)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.AudioUrl)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vocal.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isOneStop)
            </td>
            <td class="song-index-td">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/svg/info-circle-solid.svg">
                </a>
                <a asp-action="" asp-route-id="@item.Id">
                    <img src="~/svg/arrow-circle-down-solid.svg">
                </a>
                <a asp-action="" asp-route-id="@item.Id">
                    <img src="~/svg/plus-circle-solid.svg">
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
